

.header {
    width: 100%;
    max-width: 1000px;
}

.barTitle{
    font-size: 20px;
    margin: 10px 0 100px 0
}

.ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}


